.impo1{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

  .rounded{
    margin-left: auto;
    margin-right: auto;
    display: block; 
    padding-top: 20px;
    width: 20%;
    height: 20%;
  }
  .h1heading{
    color: white;
    font-size: 40px;
    margin-top: 100px;
    text-align: left;
    font-family: 'Space Mono', monospace;
  }
  .h1heading4{
    color:hotpink;
    font-family: 'Trispace', sans-serif;
  }
  .buttons{
    display: inline-flex;
  }
  .button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #fffee0;
    background-image: linear-gradient(45deg, #fffee0 0%, #fdfa72 51%, #fffd8d  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #563131;
  }
  
  .button-87:active {
    transform: scale(0.95);
  }
  .buttons{
    text-align: center;
    align-items: center;
    margin-left: 600px;
    padding-top: 30px;
  }
  .hello1{
    text-decoration: none;

  }
  .hello1:hover{
    text-decoration: none;
  }