@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;;
}
:root {
    --primary: #933ded;
    --dark: #000000;
    --pure: #fff;
    --smoke: whitesmoke;
    --dark-gray: #999;
}
body {
    font-family: 'Lato', sans-serif;
    background:var(--dark);
    color: var(--pure);
}
.logoimage{
    width: 50%;
    height:50%;
}
.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    float: left;
}

.brand svg {
    height: 30px;
    margin-right: 10px;
}

.brand svg path {
    fill: var(--pure);
}

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    font-size:13px;
}
.nav-wrapper ul.nav-list li {
    margin-left: 15px;
    padding:10px 0;
    position: relative;
    font-family: 'Space Grotesk', sans-serif;
    
}

.nav-wrapper ul.nav-list li a {
    color: var(--pure);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
    color: var(--primary);
}

main section.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 160px;
}

main section.header h1 {
    font-size: 36px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
}

main section.header h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 20px;
}
@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px); 
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: var(--pure);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background: -webkit-linear-gradient(45deg, #434343, #0d0618);
    background: linear-gradient(45deg, #434343, #0d0618);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.hamburger, .brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.button-59 {
    align-items: center;
    background-color: #FFFEE0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 2vh;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-59:focus {
    color: #171e29;
  }
  
  .button-59:hover {
    color: #06f;
    fill: #06f;
  }
  
  .button-59:active {
    color: #06f;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }
  .section1h1{
    font-size: 10vh;
    font-weight: 100;
    color: #FFFEE0;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Space Mono', monospace;
  }
  .section1h4{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    z-index: 1;
    color: #fff;
  }
  .responsive {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    position: absolute;
    align-items: center;
      margin-left: 25%;
  }
  @media screen and (max-width: 400px) {
    .responsive{
      margin-top: 10px;
      height: 20vh;
    }
  }  
  #myVideo{
    position: absolute;
    right:0 ;
    bottom: 0;
    width: 100vw;
    height:100vh ;
    z-index: -1;
  }